:root {
  --main-color: #39888d;
  --secondary-color-light: #f0a7a5;
  --secondary-color-dark: #d95c59;
}

body {
  background-color: #f0a7a522;
}

.drum {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 200px;
  padding: 50px 60px;
  border: 3px solid var(--secondary-color-dark);
  flex-wrap: wrap;
  width: fit-content;
  background-color: white;

}

.drum__item {
  width: 60px;
  height: 60px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-color-dark);
  /* border-radius: 25px; */
  background-color: var(--secondary-color-light);
  color: white;
  transition: all 0.3s;
  box-shadow: 5px 5px var(--main-color);
}

.drum__item:hover {
  color: var(--secondary-color-dark);
  background-color: white;
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;
}

.drum__key {
  text-shadow: 1px 1px #39888d;
}

.drum__sound {
  font-size: 10px;
  color: var(--secondary-color-dark);
  font-weight: 700;
}

.drum__item:hover .drum__sound {
  color: var(--main-color);
}

.drum__item:hover .drum__key {
  text-shadow: none;
}